h2 {
    text-align: center;
}


#gheroes, #royalty, #angDem {
    margin-left: 23%;
}

h3 {
    text-align: center;
}

#buttons {
    text-align: center;
}

footer {
      background-color: #222;
      color: white;
      padding: 15px;
}