

h1, h2 {
    text-align: center;
}

#gheroes, #royalty, #angDem {
    margin-left: 23%;
}

h3 {
    text-align: center;
}

#buttons {
    text-align: center;
}

footer {
      background-color: #222;
      color: white;
      padding: 15px;
}
.row {
    width: 600px;
    margin-left: 30% !important;
    margin-top: 5% !important;
}

.form-group {
    margin-left: 45%;
    width: 5% !important;
    display: inline;
}
#gatchaList {
    margin-left: 45%;
    margin-top: 2%;
}
