body {
    margin: 0;
}

nav {
    text-align: center;
    font-family: fantasy;
    background-color: brown;
}

nav a {
    color:black;
    text-decoration: none;
    font-size: 1.8em;
    padding: 15px;

}

nav a:hover, #current {
    text-decoration: underline;
    font-size: 2em;
    transition: .9s;
}

h1 {
    text-align: center;
    font-family: fantasy;
}

h2 {
    display: inline-block;
    padding-right: 0%;
    padding-left: 2%;
}

#main {
    text-align: center;
    margin-top: 25px;
}

#dice {
    margin-top: 25px;
}

#roll {
    margin-top: 25px;
    margin-bottom: 25px;
}

footer {
    text-align: center;
}

#dndDice {
    margin-top: 25px;
}

#rollDnd {
    margin-top: 25px;
    margin-bottom: 25px;
}

#headsTailsroll {
    margin-top: 25px;
    margin-bottom: 25px;
}

#2dHeadsTails {
    margin-top: 25px;
}

#headsTails {
    display: block !important;
    text-align: center !important;
}