body {
    background:black;
}
nav {
    text-align: center;
    color:orange;
    padding-bottom: 10px;
    font-size: 1.5em;
    text-decoration: none;
    
}

nav a { 
    padding: 10px;
    padding-bottom: 4px;
    font-size: 1.3em;
    text-decoration: underline;
    color: white;
}

h1 {
    font-size: 1.8em;
    text-align: center;
    margin: 0;
    color:white;
}
h4 {
    display:inline;
    /*font-size: 1.3em;*/
}
#mainPage {
    text-align: center;
}

#textMain {
    color:white;
    text-align: center;
    font-family: sans-serif;
    font-weight: lighter;
}

footer {
    color:white;
    text-align: center;
    font-size: .8em;
    clear:both;
}

#subPageA, #subPageB, #subPageC {
    float:left;
    width:49%;
}
.standOut {
    text-decoration: underline;
    text-align: center;
    font-style: oblique;
}

#subTextA, #subTextB, #subTextC {
    color:white;
    float:right;
    text-align: left;
    width:45%;
    font-weight: lighter;
    font-family: sans-serif;
}

/*p {*/
/*    font-weight: light;*/
/*}*/