body {
    text-align: center;
    margin: 0px;
}
header {
    font-family: sans-serif;
}

h1 {
    color:blue;
}

h2 {
    color:red;
    margin:0px;
}

h3 {
    color:red;
    margin:0px;
}

div {
    padding-right: 50px;
}

#ftitle{
    padding-right: 135px;
    margin-bottom: 1px;
}

#fname {
    padding-right: 80px;
}

#ltitle {
    padding-right: 135px;
    margin-bottom: 1px;
}

#lname {
    padding-right: 80px;
}

#mtitle {
    display: inline-block;
}

#male {
    margin-top: 25px;
}

#fetitle {
    display: inline-block;
}

#female {
    margin-top: 25px;
}

#selector {
    margin-bottom: 1px;
    margin-top: 0px;
}

#num {
    width: 50px;
    margin-bottom: 15px;
}


footer {
    font-size: 10px;
}
