h1 {
    font-family: 'Pacifico', cursive;
    font-size: 4em;
    margin-bottom: 0px;
}
body {
    background-color: black;
    color: white;
}

header, nav, footer, #content {
    width: 960px;
    text-align: center;
    margin: 0px auto;
}

nav a { /*links within the "nav" container*/
    padding: 15px;
    padding-bottom: 4px;
    font-size: 1.8em;
    text-decoration: none;
    color: white;
}

nav a:hover, #current { /*pseudo class*/

    border-bottom: 2px orange solid;
    font-size: 2em;
    transition: .9s;
}

#me, #welcomeText {
    float: left;
}


footer {
    clear: left;
    color: gray;
    font-size: 8px;
}

table {
    margin: 0px auto;
}

td {
    padding-right: 10px;
    font-size: 1.3em;
}


#table-header {
    background-color: #351a00;
    color:orange;
}

.table-row {
    background-color: #753900;
    color:white;
}

ul {
    text-align: left;
    padding-left: 200px;
}

.hobby {
    color:yellow;
}
